body
{
    background-color: white;
    color: black;
}

button
{
    border: 5px;
    background: none;
    display: inline;
    margin: auto;
    text-align: center;
    border: 2px solid #33bb5e;
    width: 150px;
    color: #000e29;
    border-radius: 10px;
}

table
{
    border: 1px solid black;
    margin: auto;
}

tr, th
{
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.main
{
    display: block;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.address
{
    display: block;
    width: auto;
    margin: auto;
    text-align: center;
    font-size: 30px;
}

.pages
{
    width: 90%;
    margin: auto;
}

.cim
{
    font-size: 20px;
    font-weight: bold;
}